<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener
                class-name="org.reddotdigital.singleapp.testUtils.Listeners"/>
    </listeners>
    <test thread-count="5" name="Login Test">
        <classes>
            <class name="org.reddotdigital.singleapp.tests.Test_LoginPage"/>
        </classes>
    </test>
    <test thread-count="5" name="Easy Plan Test">
        <classes>
            <class name="org.reddotdigital.singleapp.tests.Test_EasyPlan"/>
        </classes>
    </test> <!-- Test -->
    <test thread-count="5" name="Gift Plan Test">
        <classes>
            <class name="org.reddotdigital.singleapp.tests.Test_GiftPlan"/>
        </classes>
    </test> <!-- Test -->
    <test thread-count="5" name="Logout Test">
        <classes>
            <class name="org.reddotdigital.singleapp.tests.Test_LogoutPage"/>
        </classes>
    </test> <!-- Test -->
    <test thread-count="5" name="Profile Test">
        <classes>
            <class name="org.reddotdigital.singleapp.tests.Test_UserProfile"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
